In [8]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\utilizador\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\utilizador\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\utilizador\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: pymysql in c:\users\utilizador\anaconda3\lib\site-packages (1.1.1)

In [10]:
from sqlalchemy import create_engine
import pandas as pd

def rental_month(engine, month, year):
    """
    Fetches rental records for a specific month and year from the 'rental' table.
    
    Parameters:
    engine (sqlalchemy.engine.Engine): The SQLAlchemy engine for database connection.
    month (int): The month to filter records (1-12).
    year (int): The year to filter records.
    
    Returns:
    pd.DataFrame: A DataFrame containing the filtered rental records.
    """
    # Define the SQL query
    query = f"""
    SELECT * 
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    
    # Create a connection and fetch the data into a DataFrame
    with engine.connect() as connection:
        df = pd.read_sql(query, connection)
    
    return df

In [19]:
db_url = "mysql+pymysql://root:248722867@localhost:3306/sakila"
engine = create_engine(db_url)

# Define the rental_month function (as per the previous example) and use it here.
df_rentals = rental_month(engine, month=5, year=2005)

df_rentals.shape

(1156, 10)

In [27]:
def rental_summary(engine, month, year):
    # Fetch rental data for the specified month and year
    df_rentals = rental_month(engine, month, year)
    
    # Create a summary DataFrame with the number of rentals per customer
    df_summary = (
        df_rentals
        .groupby('customer_id')  # Group by customer_id
        .size()                 # Count the number of rows in each group
        .reset_index(name='number_of_rentals')  # Rename the count column
    )
    
    # Add month and year columns
    df_summary['month'] = month
    df_summary['year'] = year
    
    return df_summary

In [28]:
df_summary = rental_summary(engine, month=6, year=2005)

In [29]:
df_summary

     customer_id  number_of_rentals  month  year
0              1                  7      6  2005
1              2                  1      6  2005
2              3                  4      6  2005
3              4                  6      6  2005
4              5                  5      6  2005
..           ...                ...    ...   ...
585          595                  2      6  2005
586          596                  2      6  2005
587          597                  3      6  2005
588          598                  1      6  2005
589          599                  4      6  2005

[590 rows x 4 columns]